
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}


<div style="margin-top: 50px; line-height:40px; text-align: center; font-size:larger">
    <h2>Kontakt</h2>
witaj to kontakt do nas!
</div>

