@model IEnumerable<HurtowniaMVC.Models.Czesc>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @foreach (var czesc in Model)
            {
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <img src="~/Content/img/prod.png" alt="">
                   @czesc.Nazwa - @czesc.Cena zł - <a href="@Url.Action("Details" , "Store", new { id = czesc.CzescId})">Wiecej</a>
                </div>
            </div>
            }
        </div>
    </div>
</div>

