
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="@Url.Content("~/Content/layout.css")" type="text/css"/>
    <title>_StoreLayout</title>
</head>
<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="#">Hurtownia Czesci</a></h1>

            </div>
            <nav>
                <ul>
                    <li><a href="#">Text Link</a></li>
                    <li class="last"><a href="#">Text Link</a></li>
                </ul>
            </nav>
        </header>
        <div class="wrapper row2">
            <div id="container" class="clear">
                <section id="slider"><a href="#"><img src="../Content/images/demo/960x360.gif" alt=""></a></section>
            </div>


            <div>
                @RenderBody()
            </div>

        </div>
    </div>
    <!-- footer -->
    <div class="wrapper row3">
        <footer id="footer" class="clear">
            <p class="fl_left">Copyright &copy; 2012 - All Rights Reserved - <a href="#">Domain Name</a></p>
            <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
        </footer>
    </div>
</body>
</html>
